* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  width: 100%;
  height: 100px;
  background-color: dimgray;

  position: sticky;
}

.logo {
  font-size: 40px;
  color: white;
  padding-left: 40px;
  padding-top: 10px;
  float: left;
}

.menu {
  float: right;
  padding-right: 30px;
  padding-top: 20px;
}

a {
  text-decoration: none;
}

ul {
  background: dimgray;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  color: #fff;
  background: dimgray;
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

li a {
  color: #fff;
}

li:hover,
li:focus-within {
  background: dodgerblue;
  cursor: pointer;
}

li:focus-within a {
  outline: none;
}

ul li ul {
  background: dimgray;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}

main {
  height: 1000px;
  width: 100%;
}

.top {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/05.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.main-htext {
  color: #fff;
  text-align: center;
  position: relative;
  top: 40%;

  font-size: 60px;
}

.main-htext span {
  color: dodgerblue;
}

.main-text {
  color: #fff;
  text-align: center;
  position: relative;
  top: 40%;
  margin-top: 20px;
}

.main-btn {
  position: relative;
  top: 40%;
  left: 47%;
  margin-top: 20px;

  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  border-radius: 20px;
}

.main-btn:hover {
  box-shadow: 0 12px 16px 0 rgba(153, 153, 153, 0.24),
    0 17px 50px 0 rgba(116, 116, 116, 0.19);
  background-color: #fff;
  color: #000;
}

.left {
  width: 50%;
  height: 50%;
  background-image: url("../images/photo_2022-12-25_16-10-08.jpg");
  background-position: center;
  background-size: cover;
  float: left;
}

.right {
  width: 50%;
  height: 50%;
  background-color: rgb(70, 70, 70);
  float: right;
}

h2 {
  margin-top: 80px;
  color: #fff;
  text-align: center;
}

h2 span {
  color: #0069ed;
}

.text {
  margin-top: 50px;
  color: #fff;
  text-align: justify;
  padding: 10px;
  line-height: 130%;
}

.rdmre-btn {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  border-radius: 20px;
  position: relative;
  left: 38%;
  margin-top: 30px;
}

.rdmre-btn:hover {
  box-shadow: 0 12px 16px 0 rgba(153, 153, 153, 0.24),
    0 17px 50px 0 rgba(116, 116, 116, 0.19);
  background-color: #fff;
  color: black;
  transition: all 0.6s ease;
}

section {
  width: 100%;
  height: 300px;
  background-color: dodgerblue;
  clear: both;
}

.steam {
  float: left;
  text-align: center;
  margin: auto;

  background-color: #fff;
  height: 300px;
  width: 33.3%;
}

.xbox {
  float: left;
  text-align: center;
  margin: auto;

  background-color: #fff;
  height: 300px;
  width: 33.3%;
}

.playstation {
  float: left;
  text-align: center;
  margin: auto;
  background-color: #fff;
  height: 300px;
  width: 33.4%;
}

.playstation img {
  margin-top: 30px;
}

.playstation p {
  margin-top: 20px;
}

.xbox img {
  margin-top: 30px;
}

.xbox p {
  margin-top: 20px;
}

.steam img {
  margin-top: 30px;
}

.steam p {
  margin-top: 20px;
}

.steam:hover {
  background-color: dodgerblue;
  transition: all 0.6s ease;
  cursor: pointer;
}

.xbox:hover {
  background-color: dodgerblue;
  transition: all 0.6s ease;
  cursor: pointer;
}

.playstation:hover {
  background-color: dodgerblue;
  transition: all 0.6s ease;
  cursor: pointer;
}

.footer {
  width: 100%;
  height: 50px;
  background-color: dimgray;
  text-align: center;
  color: #fff;
}

.footer strong {
  position: relative;
  top: 40%;
}
@media only screen and (max-width: 600px) {
  .menu {
    width: 100%;
    padding-right: 0%;
  }
  .logo {
    text-align: center;
    transform: translateX(20%);
  }
  ul li {
    width: 100%;
  }
  .top {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("../images/05.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .main-htext {
    position: absolute;
    top: 50%;
  }
  .main-text {
    position: relative;
    top: 30%;
  }
  .main-btn {
    position: relative;
    top: 30%;
    left: 0%;
    transform: translateX(50%);
  }

  h2 {
    margin-top: 5px;
  }
  .text {
    margin-top: 20px;
  }
  .rdmre-btn {
    position: relative;
    top: 5%;
    transform: translateX(30%);
    left: 0%;
  }
  .steam {
    width: 100%;
  }
  .xbox {
    width: 100%;
  }
  .playstation {
    width: 100%;
  }
  .footer {
    width: 100%;
    height: 20%;
  }
}
@media only screen and (max-width: 768px) {
 
  .main-htext {
    position: relative;
    top: 30%;
  }
  .main-text {
    position: relative;
    top: 30%;
  }
  .main-btn {
    position: relative;
    top: 30%;
    left: 0%;
    transform: translateX(80%);
  }
  .rdmre-btn {
    position: relative;
    top: 5%;
    transform: translateX(80%);
    left:0%;
  }
  .steam {
    width: 100%;
  }
  .xbox {
    width: 100%;
  }
  .playstation {
    width: 100%;
  }
  .footer {
    width: 100%;
    height: 20%;
  }
}
